body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 20px 0px 0px 20px;
    color: rgb(79, 79, 79);
}

#bio {
    font-size: 0.8em;
    width: 70%;
}

h4 {
    font-style: italic;
}

.column {
    float: left;
    width: 30%
}

#projects-column{
    float: left;
    width: 40%;
    
}

.row {
    font-size: 0.8em;
}

.row:after {
    content: "";
    display: table;
    height:auto;
    clear: both;
}

img {
    padding: 0px 0px 0px 0px;
    
    width: 90%;
    height: auto
     
   
}

code {
    position: absolute;
    top: 20;
    padding: 10px 10px 10px 10px;
    background-color: rgb(220, 220, 220);
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    background-color: white;
    height: 5%;
    width: 100%;
    font-size: 0.8em;
    padding: 10px 0px 10px 0px;
    text-align: center;
}